/*****************************************************************************/
/***********************************BODY**************************************/
/*****************************************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body { 
    height: 100vh;
    width: 100vw;
    font-family: 'Changa One', cursive;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    background-attachment: fixed;
    background-size: auto;
    background: linear-gradient(140deg, rgba(75,19,56,1) 18%, rgba(2,21,61,1) 57%, rgba(0,78,117,1) 92%);
}

body::before { 
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(140deg, rgba(75,19,56,1) 18%, rgba(2,21,61,1) 57%, rgba(0,78,117,1) 92%);
    opacity: 1; 
    pointer-events: none;
}

header{
   position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
    height: 30px;
    background-color: #2E2A2A;
}

.date {
    width: 100%;
    height: 30px;
    padding-top: 5px;
    font-weight: bold;
    color: white;
    text-align: center;
    align-items: center;
}

main {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/*****************************************************************************/
/*********************************NEW WINDOW**********************************/
/*****************************************************************************/

.body-window {
    position: absolute;
    background-color: #2D2928;
    width: 500px;
    height: auto;
    top: 30%;
    left: 30%;
    border-radius: 8px 8px 0 0;
    resize: both;
    overflow: hidden;
    min-height: 250px;
    min-width: 350px;
    box-shadow: 0px 4px 16px -2px #000000;
}

.header-window {
    position: sticky;
    z-index: 98;
    top: 0px;
    padding: 10px;
    border: 1px solid #575757;
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 40px;
    max-height: 40px;
    background-color: #575757;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.close {
    background-image: url("../images/close-50.png");
}

.reduce {
    background-image: url('../images/reduce-50.png');
}

.upscale {
    background-image: url('../images/upscale-50.png');
}

.button {
    background-color: #747474;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin:3px 5px;
    position: relative;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 50% ;
    cursor: pointer;
}

.button:hover {
    background-color: #808080;
}

.content {
    position: relative;
    color: #D9D9D9;
    padding: 10px;
    width: 100%;
    height: 90%;
}

.picture-content {
    display: flex;
    justify-content: center;
    align-items: center;
     
}

.title {
    color: white;
    width: calc(100% - 60px);
    text-align: center;
    overflow: hidden;
}

li {
    list-style: inside;
    padding: 2px;
}

h3 {
    cursor: default;
}

.content #picture {
    max-width: 100%;
    max-height: 100%; 
}

#terminal {
    color: #00BF63;
}

.terminal-content {
    background-color: #3D1C31;
}

/*****************************************************************************/
/**********************************DESKTOP************************************/
/*****************************************************************************/

.mobile-setup {
    display: none;
}
.desktop-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100px;
    height: 100px;
    margin: 30px 20px 50px 20px;
    color: white;
    align-items: center;
    cursor: pointer;
}
.desktop-button img {
    width: 60%;
    max-width: 150px;
    height: 100%;
    margin: 10px 0px;
}

.desktop-button p {
    margin-top: 2px;
    font-size: small;
    text-align: center;    
}

.span:hover,.desktop-button:hover {
    background-color:rgb(213,213,213,0.2);
    border-radius: 8px;
}

#welcome-div{
    z-index: 100;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color:rgba(10, 10, 10, 1);
    animation: welcome-div 5s ease forwards;
}
@keyframes welcome-div {
    0% {
        opacity:1;
    }
    70%{
       opacity: 1;
       z-index: 100;
       
    }
    100%{
        opacity: 0;
       display: none;
        z-index: -100;
    }
}
#welcome {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50% ) ;
    height: 200px;
    width: 80%;
  
   
}


#welcome path:nth-child(1) {
    stroke-dasharray: 500px;
    stroke-dashoffset: 500px;
    animation: animation 4s ease forwards;
}

@keyframes animation {
    0%{
        opacity: 0;
        fill-opacity: 0;
    }
    10%{
        opacity: 1;
        stroke-dashoffset: 500px;
    }
    60%{
        fill-opacity: 0;
        
    }
    
    100% {
        fill-opacity: 100%;
        stroke-dashoffset: 0;
    }
}
#svgGroup {
    margin: 0;
    padding: 10px;
}

@media only screen and (max-width: 700px) {

      body {
        overflow: auto;
        height: 100%;
      }  

    .mobile-setup{
        display: initial;
    }

    .desktop-setup{
        display: none;
    }

    .desktop-button{
        display: none;
    }

    .body-window{
        position: relative;
        top: 0;
        left: 0;
        width:90%;
        height: 80%;
        max-width: 700px;
        margin: 5px auto ;
    }

    .content #picture {
        max-width: 100%;
        max-height: 100%; 
        margin: auto;
    }

}